<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="FreeSpire.PDF" version="2.9.37" targetFramework="net452" />
  <package id="Gainsco.CodedUITests.Common" version="1.0.0.3" targetFramework="net452" />
  <package id="Gainsco.CodedUITests.Domain" version="1.0.0" targetFramework="net452" />
  <package id="Gainsco.CodedUITests.Repositories" version="1.0.0.1" targetFramework="net452" />
  <package id="Gainsco.Logging.Core" version="1.0.1" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.HostIntegration" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.0" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Enrichers.Environment" version="2.1.2" targetFramework="net452" />
  <package id="Serilog.Enrichers.Process" version="2.0.1" targetFramework="net452" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.2.0" targetFramework="net452" />
  <package id="StyleCop" version="4.7.55" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
</packages>