<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
      
      <add key="BaseAddress" value="#{Gainsco.ClaimCenter.CodedUITests.BaseAddress}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="Browser" value="#{Gainsco.ClaimCenter.CodedUITests.Browser}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ClaimsPolicyNumber" value="#{Gainsco.ClaimCenter.CodedUITests.ClaimsPolicyNumber}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />      
      <add key="ClaimsZipCode" value="#{Gainsco.ClaimCenter.CodedUITests.ClaimsZipCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
       <add key="ClaimsHomePageUserName" value="#{Gainsco.ClaimCenter.CodedUITests.ClaimsHomePageUserName}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ClaimsHomePagePassword" value="#{Gainsco.ClaimCenter.CodedUITests.ClaimsHomePagePassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="CommaDelimitedScenariosToLog" value="#{Gainsco.ClaimCenter.CodedUITests.CommaDelimitedScenariosToLog}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="IsRetryingOnlyFailedScenarioTestsInEnvironment" value="#{Gainsco.ClaimCenter.CodedUITests.IsRetryingOnlyFailedScenarioTestsInEnvironment}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="IsWebDriverUsingSauceLabs" value="#{Gainsco.ClaimCenter.CodedUITests.IsWebDriverUsingSauceLabs}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     
      <add key="RequestMaxRetry" value="#{Gainsco.ClaimCenter.CodedUITests.RequestMaxRetry}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ScenarioTestEnvironment" value="#{Gainsco.ClaimCenter.CodedUITests.ScenarioTestEnvironment}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ScenarioExecutionLevel" value="#{Gainsco.ClaimCenter.CodedUITests.ScenarioExecutionLevel}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="SleepTimeInMilliseconds" value="#{Gainsco.ClaimCenter.CodedUITests.SleepTimeInMilliseconds}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TimeSpanWaitTicks" value="#{Gainsco.ClaimCenter.CodedUITests.TimeSpanWaitTicks}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TunnelIdentifier" value="#{Gainsco.ClaimCenter.CodedUITests.TunnelIdentifier}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />   
                 
      
      <add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="#{Gainsco.ClaimCenter.CodedUITests.SerilogAutoCreateSqlServerTable}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="serilog:minimum-level" value="#{Gainsco.ClaimCenter.CodedUITests.SerilogMiniumLevel}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="serilog:write-to:RollingFile.pathFormat" value="#{Gainsco.ClaimCenter.CodedUITests.SerilogRollingFilePathFormat}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="#{Gainsco.ClaimCenter.CodedUITests.SerilogRollingFileRetainedFileCountLimit}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="serilog:write-to:MSSqlServer.connectionString" value="#{Gainsco.ClaimCenter.CodedUITests.SerilogSqlServerConnectionString}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="serilog:write-to:MSSqlServer.tableName" value="#{Gainsco.ClaimCenter.CodedUITests.SerilogSqlServerTableName}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
     
      
      
      <!--<add key="AccountAndRoutingNumber" value="#{Gainsco.ClaimCenter.CodedUITests.AccountAndRoutingNumber}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="AddDriverButtonCount" value="#{Gainsco.ClaimCenter.CodedUITests.AddDriverButtonCount}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="AdditionalEquipmentValue" value="#{Gainsco.ClaimCenter.CodedUITests.AdditionalEquipmentValue}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="AddVehicleButtonCount" value="#{Gainsco.ClaimCenter.CodedUITests.AddVehicleButtonCount}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />      
      <add key="AgentEmailAddress" value="#{Gainsco.ClaimCenter.CodedUITests.AgentEmailAddress}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="AllowServiceCharges" value="#{Gainsco.ClaimCenter.CodedUITests.AllowServiceCharges}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ArizonaAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.ArizonaAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ArizonaAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.ArizonaAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ArizonaAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.ArizonaAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ArizonaPolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.ArizonaPolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="As400FileSchema" value="#{Gainsco.ClaimCenter.CodedUITests.As400FileSchema}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="As400VehicleInfoSchemaTable" value="#{Gainsco.ClaimCenter.CodedUITests.As400VehicleInfoSchemaTable}#" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />      
     
      <add key="FakeAddressAZ" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressFL" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressGA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressNM" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressOK" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressSC" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressUT" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeAddressVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeAddressVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityAZ" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityFL" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityGA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityNM" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityOK" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCitySC" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCitySC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityUT" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeCityVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeCityVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOB" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOB}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBAZ" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBFL" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBGA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBNM" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBOK" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBSC" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBUT" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDOBVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDOBVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDriverLicenseNumberTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDriverLicenseNumberTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDriverLicenseNumberTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDriverLicenseNumberTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeDriverLicenseNumberVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeDriverLicenseNumberVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
     
      <add key="FakeFirstNameAZ" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameFL" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameGA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameNM" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameOK" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameSC" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameUT" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeFirstNameVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeFirstNameVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameAZ" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameFL" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameGA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameNM" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameOK" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameSC" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameUT" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeLastNameVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeLastNameVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameAZ" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameFL" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameGA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameNM" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameOK" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameSC" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameUT" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeMiddleNameVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeMiddleNameVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeSecondVIN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeSecondVIN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeVIN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeVIN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipAZ" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipFL" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipGA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipNM" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipOK" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipSC" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipTN" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipTX" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipUT" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FakeZipVA" value="#{Gainsco.ClaimCenter.CodedUITests.FakeZipVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FloridaAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.FloridaAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FloridaAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.FloridaAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FloridaAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.FloridaAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="FloridaPolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.FloridaPolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="GeorgiaAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.GeorgiaAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="GeorgiaAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.GeorgiaAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="GeorgiaAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.GeorgiaAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="GeorgiaPolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.GeorgiaPolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="InsurerEmailAddress" value="#{Gainsco.ClaimCenter.CodedUITests.InsurerEmailAddress}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="InvalidAccountAndRoutingNumber" value="#{Gainsco.ClaimCenter.CodedUITests.InvalidAccountAndRoutingNumber}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressOK" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressSC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveAddressVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveAddressVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityOK" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCitySC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCitySC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveCityVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveCityVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOB" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOB}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBOK" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBSC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDOBVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDOBVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />      
      <add key="LiveDriverLicenseNumberAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberSC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveDriverLicenseNumberVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveDriverLicenseNumberVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameOK" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameSC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveFirstNameVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveFirstNameVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameOK" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameSC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveLastNameVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveLastNameVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameOK" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameSC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveMiddleNameVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveMiddleNameVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveSecondVIN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveSecondVIN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveVIN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveVIN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipAZ" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipAZ}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipFL" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipFL}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipGA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipGA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipNM" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipNM}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipOK" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipOK}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipSC" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipSC}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipTN" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipTN}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipTX" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipUT" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipUT}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LiveZipVA" value="#{Gainsco.ClaimCenter.CodedUITests.LiveZipVA}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="MaximumDriver" value="#{Gainsco.ClaimCenter.CodedUITests.MaximumDriver}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="MaximumVehicle" value="#{Gainsco.ClaimCenter.CodedUITests.MaximumVehicle}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="NewMexicoAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.NewMexicoAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="NewMexicoAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.NewMexicoAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />      
      <add key="NewMexicoAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.NewMexicoAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="NewMexicoPolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.NewMexicoPolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="OklahomaAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.OklahomaAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="OklahomaAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.OklahomaAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="OklahomaAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.OklahomaAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />         
      <add key="PDFFileExistBMaxRetry" value="#{Gainsco.ClaimCenter.CodedUITests.PDFFileExistBMaxRetry}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="PDFFileExistPoolingTimeSpan" value="#{Gainsco.ClaimCenter.CodedUITests.PDFFileExistPoolingTimeSpan}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="PDFFromRequestDBMaxRetry" value="#{Gainsco.ClaimCenter.CodedUITests.PDFFromRequestDBMaxRetry}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="PDFFromRequestDBPoolingTimeSpan" value="#{Gainsco.ClaimCenter.CodedUITests.PDFFromRequestDBPoolingTimeSpan}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="PolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.PolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      
     
    
      
      <add key="SouthCarolinaAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.SouthCarolinaAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="SouthCarolinaAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.SouthCarolinaAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="SouthCarolinaAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.SouthCarolinaAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="SouthCarolinaPolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.SouthCarolinaPolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TennesseeAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.TennesseeAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TennesseeAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.TennesseeAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TennesseeAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.TennesseeAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TennesseePolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.TennesseePolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TexasAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.TexasAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TexasAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.TexasAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="TexasAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.TexasAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      
      <add key="UtahAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.UtahAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="UtahAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.UtahAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="UtahAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.UtahAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="UtahPolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.UtahPolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ValidAddressTX" value="#{Gainsco.ClaimCenter.CodedUITests.ValidAddressTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ValidCityTX" value="#{Gainsco.ClaimCenter.CodedUITests.ValidCityTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />          
      <add key="ValidFirstNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.ValidFirstNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />     
      <add key="ValidLastNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.ValidLastNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ValidMiddleNameTX" value="#{Gainsco.ClaimCenter.CodedUITests.ValidMiddleNameTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="ValidZipTX" value="#{Gainsco.ClaimCenter.CodedUITests.ValidZipTX}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />      
      <add key="VirginiaAgentCode" value="#{Gainsco.ClaimCenter.CodedUITests.VirginiaAgentCode}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="VirginiaAgentPassword" value="#{Gainsco.ClaimCenter.CodedUITests.VirginiaAgentPassword}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="VirginiaAgentUserId" value="#{Gainsco.ClaimCenter.CodedUITests.VirginiaAgentUserId}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="VirginiaPolicyNumberText" value="#{Gainsco.ClaimCenter.CodedUITests.VirginiaPolicyNumberText}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />-->
     
  </appSettings>
    
  <connectionStrings>
    <clear/>
    <!--<add name="As400" 
         providerName="Microsoft.HostIntegration.MsDb2Client" 
         connectionString="#{Gainsco.ClaimCenter.CodedUITests.As400ConnectionString}#"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="GainscoConnect" 
         connectionString="#{Gainsco.ClaimCenter.CodedUITests.GainscoConnectConnectionString}#" providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
    <add name="SmokeTestsContext"
         connectionString="#{Gainsco.ClaimCenter.CodedUITests.SmokeTestsContextConnectionString}#" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>